{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.js", "*.vue"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
